<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JSPExample</display-name>
  <welcome-file-list>
  	<welcome-file>default.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>MVCBoardList</servlet-name>
  	<servlet-class>com.controller.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MVCBoardList</servlet-name>
  	<url-pattern>/mvcboard/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MVCBoardWrite</servlet-name>
  	<servlet-class>com.controller.WriteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MVCBoardWrite</servlet-name>
  	<url-pattern>/mvcboard/write.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MVCBoardView</servlet-name>
  	<servlet-class>com.controller.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MVCBoardView</servlet-name>
  	<url-pattern>/mvcboard/view.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MVCBoardDownload</servlet-name>
  	<servlet-class>com.controller.DownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MVCBoardDownload</servlet-name>
  	<url-pattern>/mvcboard/download.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MVCBoardPass</servlet-name>
  	<servlet-class>com.controller.PassController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MVCBoardPass</servlet-name>
  	<url-pattern>/mvcboard/pass.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MVCBoardEdit</servlet-name>
  	<servlet-class>com.controller.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MVCBoardEdit</servlet-name>
  	<url-pattern>/mvcboard/edit.do</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>H2Driver</param-name>
  	<param-value>org.h2.Driver</param-value>
  </context-param>
  <context-param>
  	<param-name>H2URL</param-name>
  	<param-value>jdbc:h2:tcp://localhost/~/test</param-value>
  </context-param>
  <context-param>
  	<param-name>H2Id</param-name>
  	<param-value>sa</param-value>
  </context-param>
  <context-param>
  	<param-name>H2Password</param-name>
  	<param-value></param-value>
  </context-param>
  <context-param>
  	<param-name>maxPostSize</param-name>
  	<param-value>1024000</param-value>
  </context-param>
  
  <filter>
  	<filter-name>SetCharEncoding</filter-name>
  	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>SetCharEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>